{% extends "base.html" %}

{% block page_cont %}

<form method="post">
<div class="row text-center">
		<div class="col-md-4">
			Barem
			<select class="select-barem" name="barem" width=100%>
				<option></option>
				<optgroup label="Barem C">
					{% for barem in barems.c %}
						<option value="{{barem.barem}}">C -- Day {{barem.day}}</option>
					{% endfor %}
				</optgroup>
				<optgroup label="Barem PHP">
					{% for barem in barems.php %}
						<option value="{{barem.barem}}">PHP -- Day {{barem.day}}</option>
					{% endfor %}
				</optgroup>
			</select>
		</div>
		<div class="col-md-4">
				Slug
				<select class="select-barem" name="slug" width=100%>
					<option></option>
					<optgroup label="Slug C">
						{% for slug in slugs.c %}
							<option value="{{slug}}">C -- Slug {{slug}}</option>
						{% endfor %}
					</optgroup>
					<optgroup label="Slug PHP">
						{% for slug in slugs.php %}
							<option value="{{slug}}">PHP -- Slug {{slug}}</option>
						{% endfor %}
					</optgroup>
				</select>
		</div>
		<button type="submit" class="btn btn-primary">Get notes</button>
	</div>
</form>
<script src="{{ url_for('static',filename='js/index.js') }}"></script>

{% endblock %}