{% extends "base.html" %}

{% block page_cont %}

<div class="panel">
		<h2>Admin Login</h2>
		<p>Please enter your email and password</p>
		</div>
		 <form id="Login" method="post">
			<div class="form-group">
				<input type="email" class="form-control" id="inputEmail" placeholder="Email Address" name="email">
		     	</div>
		     	<div class="form-group">
				<input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
		     	</div>
		     	<!-- <div class="forgot">
		     		<a href="reset.html">Forgot password?</a>
	     		</div> -->
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
		 

{% endblock %}